.footer {

  @include flex-direction(space-around, center, column, wrap);
    height: 229px;

    &__title {
        @include primary-title;
    }

    &__list {
        @include flex-direction(center, center , row, wrap);
    }

    &__item {
        height: 55px;
        width: 55px;
        margin: 6.5px;
        background-color: cornflowerblue;
        border-radius: 15px;
    }

    &__link {
        @include flex-direction(center,center, row, nowrap);
        height: 100%;
        width: 100%;
        border-radius: 15px;

        &:hover {
            background-color: cadetblue;
        }
    }

  &__logo--rdio {
    background: linear-gradient(0deg, #6A5BB4,#C28BE5);
  }

  &__logo--css {
    background: linear-gradient(0deg, #4DBDC4, #6FEACC);
  }

  &__logo--deviantart {
    background: linear-gradient(0deg, #B3717A, #F7CCAE);
  }

  &__logo--xing {
    background: linear-gradient(0deg, #8B4EB5, #7E92E5);
  }

  &__logo--vimeo {
    background: linear-gradient(0deg, #578DE7, #40CFE0);
  }

  &__logo--vk {
    background: linear-gradient(0deg, #F59083, #FBD78C);
  }
}